VITE_G_DRIVE_API_KEY=tu_api_key_de_google_drive
VITE_FOLDER_ID=folder_id_del_concurso_ii
VITE_FOLDER_MEMORIALS_ID=folder_id_memoriales_concurso_ii
VITE_FOLDER_III_ID=folder_id_del_concurso_iii
VITE_FOLDER_MEMORIALS_III_ID=folder_id_memoriales_concurso_iii
